<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <!-- <ul class="list-unstyled">
            <li *ngFor="let item of menu"><a href="javascript:void(0);"><img width="15px" height="15px"  [src]="item.IconMobile | urlAvatar" alt="..." class="rounded-circle"><span>{{item.Name}}</span></a></li>
            <li><a href="#dropdown" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Dropdown</span></a>
                <ul id="dropdown" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Link</a></li>
                    <li><a href="javascript:void(0);">Link</a></li>
                    <li><a href="javascript:void(0);">Link</a></li>
                    <li><a href="javascript:void(0);">Link</a></li>
                </ul>
            </li>
        </ul> -->
        <span class="heading">Danh sách chức năng</span>
        <ul class="list-unstyled">
            <li *ngFor="let item of menu"><a href="javascript:void(0);"><i class="la la-puzzle-piece"></i><span>{{item.Name}}</span></a></li>
            <li><a href="#dropdown" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Dropdown</span></a>
                <ul id="dropdown" class="collapse list-unstyled pt-0">
                    <li><a href="javascript:void(0);">Link</a></li>
                    <li><a href="javascript:void(0);">Link</a></li>
                    <li><a href="javascript:void(0);">Link</a></li>
                    <li><a href="javascript:void(0);">Link</a></li>
                </ul>
            </li>
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>