<div class="container-fluid">
    <!-- Begin Page Header-->
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Blank Page</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="db-all.html"><i class="ti ti-home"></i></a></li>
                        <li class="breadcrumb-item active">Blank</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Begin Row -->
    <div class="row flex-row">
        <div class="col-xl-12 col-12">
            <div class="widget has-shadow">
                <div class="widget-body">
                    <p class="text-primary mt-2 mb-2">Play with Elisyam :)</p>

                    <!--Fullscreen Map Starts-->
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                        [zoomControl]="false" (mapClick)="mapClicked($event)">

                        <agm-marker-cluster [minimumClusterSize]="5" [styles]="clusterStyles"
                        [imagePath]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQZ06Wh8dKlZHS0hja_9YcxkI3e4t_DNbSgONoYmYB05R6ACsdMA&s'">
                            <agm-marker-with-label *ngFor="let m of markers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" labelContent="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                                <agm-info-window>
                                    <strong>InfoWindow content</strong>
                                </agm-info-window>

                            </agm-marker>
                        </agm-marker-cluster>


                        <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="50000" [fillColor]="'red'"
                            [circleDraggable]="true" [editable]="true">
                        </agm-circle>

                    </agm-map>
                    <!--Fullscreen Map Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>